{% extends "base.html" %}
{% load i18n %}

{% block title %}Pootle - Activation{% endblock %}

{% block content %}
{% if activationmessage %}
    <div class="intro">
      {{ activationmessage }}
    </div>
{% else %}
    <div class="intro">
      {% trans "Please enter your activation details" %}
    </div>
    <form action="" enctype="multipart/form-data" method="post" name="activate" id="activate">
      <table cellpadding="1" width="100%" border="0" cellspacing="1">
        <tr>
          <td colspan="1" style="width: 33%" rowspan="1" valign="top">
            <span title="{% trans "Your requested username" %}">{% trans "Username" %}</span>
          </td>

          <td colspan="1" style="width: 66%" rowspan="1" valign="top">
             {{ form.username }}
          </td>
        </tr>

        <tr>
          <td colspan="1" style="width: 33%" rowspan="1" valign="top">
            <span title="{% trans "The activation code you received" %}">{% trans "Activation Code" %}</span>
          </td>

          <td colspan="1" style="width: 66%" rowspan="1" valign="top">
            {{ form.activationcode }}
          </td>
        </tr>
      </table><input type="submit" name="activate" value="{% trans "Activate Account" %}" />
    </form>
{% endif %}
{% endblock %}
