{% load i18n %}
{% extends "base_admin.html" %}
{% block title %}Pootle User Admin Page{% endblock %}

{% block adminpanel %}
    <div class="fullwidthcontents">
      <h3 class="title">{% trans "Users" %}</h3>

      <form action="" method="post" name="users" id="users">
        <table cellpadding="1" cellspacing="1">
          <tr>
            <td colspan="1" rowspan="1">
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Username" %}</h3>
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "First Name" %}</h3>
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Last Name" %}</h3>
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Email Address" %}</h3>
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Activated" %}</h3>
            </td>
          </tr>
{% for u in users %}
          <tr>
            <td colspan="1" rowspan="1"><input type="checkbox" name="select-{{ u.username }}" /></a></td>
            <td colspan="1" rowspan="1"><a href="{{ u.username }}/">{{ u.username }}</a></td>
            <td colspan="1" rowspan="1">{{ u.first_name }}</td>
            <td colspan="1" rowspan="1">{{ u.last_name }}</td>
            <td colspan="1" rowspan="1">{{ u.email }}</td>
            <td colspan="1" rowspan="1">{% if u.is_active %}{% trans "True" %}{% else %}{% trans "False" %}{% endif %}</td>
          </tr>
{% endfor %}
        </table><input type="submit" name="delete-selected" value="{% trans "Delete selected" %}" />
      </form>
    </div>
{% endblock %}
