{% load i18n %}
{% extends "base.html" %}

{% block title %}Pootle Languages Admin Page{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}
  <div id="fullwidthcontent" dir="{{ uidir }}" lang="{{ uilanguage }}">
    <div class="intro">
      <a href="../home/">{% trans "Home" %}</a>
    </div>

    <div class="intro">
      <a href="index.html">{% trans "Main admin page" %}</a>
    </div>

    <div class="fullwidthcontents">
      <h3 class="title">{% trans "Languages" %}</h3>

      <form action="" method="post" name="languages" id="languages">
        <table cellpadding="1" cellspacing="1">
          <tr>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "Selected" %}</h3></td>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "ISO Code" %}</h3></td>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "Full Name" %}</h3></td>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "Special Chars" %}</h3></td>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "Number of Plurals" %}</h3></td>
            <td colspan="1" rowspan="1"><h3 class="title">{% trans "Plural Equation" %}</h3></td>
          </tr>

{% for lang in languages %}
          <tr>
            <td colspan="1" rowspan="1"><input type="checkbox" /></td>
            <td colspan="1" rowspan="1">{{ lang.code }}</td>
            <td colspan="1" rowspan="1">{{ lang.name }}</td>
            <td colspan="1" rowspan="1">{{ lang.specialchars }}</td>
            <td colspan="1" rowspan="1">{{ lang.plurals }}</td>
            <td colspan="1" rowspan="1">{{ lang.plural_equation }}</td>
          </tr>
{% endfor %}
        </table><input type="submit" name="changelanguages" value="{% trans "Save changes" %}" />
      </form>
    </div>
  </div>
{% else %}
  <div id="content" dir="{{ uidir }}" lang="{{ uilanguage }}">
    <div class="intro">
      You do not have the rights to administer Pootle
    </div>
  </div>
{% endif %}
{% endblock %}
