{% load i18n %}
{% extends "base.html" %}

{% block title %}Pootle Admin Page{% endblock %}

{% block content %}
  <div id="content" py:if="not session.issiteadmin" dir="{{ uidir }}" lang="{{ uilanguage }}">
{% if user.is_authenticated and user.is_superuser %}
    <div class="intro">
      <a href="../home/">{% trans "Home" %}</a>
    </div>
    <div class="intro">
      <a href="users/">{% trans "Users" %}</a>
    </div>
    <div class="intro">
      <a href="languages.html">{% trans "Languages" %}</a>
    </div>
    <div class="intro">
      <a href="projects.html">{% trans "Projects" %}</a>
    </div>

    <div class="contents">
      <h3 class="title">{% trans "General options" %}</h3>
      <form action="" method="post" name="general" id="general">
        <table cellpadding="1" cellspacing="1">
          <tr>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Option" %}</h3>
            </td>
            <td colspan="1" rowspan="1">
              <h3 class="title">{% trans "Current value" %}</h3>
            </td>
          </tr>

          <tr>
            <td colspan="1" rowspan="1">{% trans "Title" %}</td>
            <td colspan="1" rowspan="1">{{ form.title }}</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">{% trans "Description" %}</td>
            <td colspan="1" rowspan="1">{{ form.description }}</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">{% trans "Base URL" %}</td>
            <td colspan="1" rowspan="1">{{ form.baseurl }}</td>
          </tr>
          <tr>
            <td colspan="1" rowspan="1">{% trans "Home Page" %}</td>
            <td colspan="1" rowspan="1">{{ form.homepage }}</td>
          </tr>
        </table><input type="submit" name="changegeneral" value="{% trans "Save changes" %}" />
      </form>
    </div>
{% else %}
    <div class="intro">
      You do not have the rights to administer Pootle
    </div>
{% endif %}
  </div>
{% endblock %}



