{% load i18n %}
{% extends "base_admin.html" %}
{% block title %}Pootle User Admin Page{% endblock %}

{% block adminpanel %}
    <div class="tabcontents">
      <h3 class="title">{% trans "Editing user" %} {{ u }}</h3>

      <form action="" method="post" name="users" id="users">
        <table cellpadding="1" cellspacing="1">
          <tr>
            <th colspan="1" rowspan="1"><label>{% trans "Username:" %}</label></th>
            <td colspan="1" rowspan="1">{{ u }}</td>
          </tr>
          {{ form }}
        </table><input type="submit" name="changeusers" value="{% trans "Save changes" %}" />
      </form>
    </div>
{% endblock %}
