<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
  <title>{{ pagetitle }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="{{ meta_description }}" />
  <meta name="keywords" content="{{ keywords|join:", " }}" />
  <link rel="stylesheet" type="text/css" href="/static/pootle.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/static/js/correctpng.js"></script>
  <![endif]-->
</head>

<body bgcolor="#FFFFFF">
  <div id="abovefooter">
  <div id="banner" over:include="pootlepage#banner"/>

  <div id="content" dir="{{ uidir }}" lang="{{ uilanguage }}">
    <div class="contents">
      <h3 class="title">{{ pagetitle }}</h3>

      <div class="intro">
        {{ description }}
      </div>

      <h3 class="title"><a href="languages/">{% trans "Languages" %}</a></h3>

      <div class="item-description">
        {% for l in languages %}
        <a href="{{ l.code }}/">{{ l.name }}</a>{{ l.sep }}
        {% endfor %}
      </div>
    </div>

    <div class="contents">
      <h3 class="title"><a href="projects/">{% trans "Projects" %}</a></h3>

      <div class="item-description">
        {% for p in projects %}
          <a href="projects/{{ p.code }}/" title="{{ p.description }}">{{ p.name }}</a>{{ p.sep }}
        {% endfor %}
      </div>
    </div>
  </div>

  </div>
  <div id="links" over:include="pootlepage#links"/>
  <div id="about" over:include="pootlepage#about"/>
</body>
</html>
