{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
  <title>{% block title %}{{ pagetitle }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="{{ meta_description }}" />
  <meta name="keywords" content="{{ keywords|join:", " }}" />
  <link rel="stylesheet" type="text/css" href="/static/pootle.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
{% block head %}{% endblock %}
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/static/js/correctpng.js"></script>
  <![endif]-->
</head>

<body bgcolor="#FFFFFF">
  <div id="abovefooter">
{% block banner %}
  <div lang="und" id="banner">
    <table cellpadding="0" width="100%" border="0" cellspacing="0">
      <tr>
        <td rowspan="1" colspan="1" align="left" width="98" valign="top">
          <img src="/static/images/pootle.png" height="130" width="98" alt="Pootle Logo" style="padding-top:5px;" />
        </td>

        <td colspan="1" rowspan="1" width="5">
          <img src="/static/images/gap.png" height="5" width="5" alt="" />
        </td>

        <td colspan="1" rowspan="1" width="100%">
          <table cellspacing="0" style="height: 135px" width="100%" cellpadding="0" border="0" class="header">
            <tr>
              <td colspan="1" align="center" rowspan="1" valign="middle">
                 <img src="/static/images/WordForge-white.png" height="135" width="244" alt="WordForge Translation Project" style="padding-top:5px;"/>
              </td>
            </tr>

            <tr>
              <td rowspan="1" colspan="1" align="right" valign="middle" class="border_top"/>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
  <div id="content" dir="{{ uidir }}" lang="{{ uilanguage }}">
{% block content %}
    <div class="contents">
      <h3 class="title">{{ pagetitle }}</h3>

      <div class="intro">
        {{ description }}
      </div>

      <h3 class="title"><a href="languages/">{% trans "Languages" %}</a></h3>

      <div class="item-description">
        {% for l in languages %}
        <a href="{{ l.code }}/">{{ l.name }}</a>{{ l.sep }}
        {% endfor %}
      </div>
    </div>

    <div class="contents">
      <h3 class="title"><a href="projects/">{% trans "Projects" %}</a></h3>

      <div class="item-description">
        {% for p in projects %}
          <a href="projects/{{ p.code }}/" title="{{ p.description }}">{{ p.name }}</a>{{ p.sep }}
        {% endfor %}
      </div>
    </div>
{% endblock %}
  </div>

  </div>
  <div id="links" dir="{{ uidir }}" lang="{{ uilanguage }}">
    <!-- Account information -->
    <div class="account">
    <div class="side">
      <img src="/static/images/person.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
    </div>
    {% if user.is_authenticated %}
    <div class="side">
      <span>logged in as <b>{{ user }}</b></span> |
      <a href="/?islogout=1">{% trans "Log Out" %}</a>
    </div>
    {% else %}
    <div class="side">
      <a href="/login.html">{% trans "Log In" %}</a> |
      <a href="/register.html">{% trans "Register" %}</a> |
      <a href="/activate.html">{% trans "Activate" %}</a>
    </div>
    {% endif %}
    </div>
    <br clear="all" />

    <div class="sidetitle">
      {{ instancetitle }}
    </div>
    <div class="side">
      <a href="/">{% trans "Home" %}</a>
      | <a href="/projects/">{% trans "All Projects" %}</a>
      | <a href="/languages/">{% trans "All Languages" %}</a>
      {% if user.is_authenticated %} | <a href="/home/">{% trans "My account" %}</a>
      {% if user.is_superuser %} | <a href="/admin/">{% trans "Admin" %}</a>{% endif %}{% endif %} 
      | <a href="/doc/index.html">{% trans "Docs &amp; Help" %}</a>
    </div>
  </div>

  <div id="about" dir="{{ uidir }}" lang="{{ uilanguage }}">
    <a href="/about.html">{% trans "About this Pootle server" %}</a>
  </div>
</body>
</html>
