{% load i18n %}
{% load pootle %}
{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ baseurl }}static/js/sorttable.js"></script>
  <script type="text/javascript" src="{{ baseurl }}static/js/show-hide.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <h3 class="title">[ <a href="/{{ lang.code }}/">{{ lang.name }}</a> ] [ <a href="/{{ project.code }}/">{{ project.name }}</a> ]</h3>
      <div class="item-description" id="actionlinks">

      </div>
        
      <div class="item-description" id="hiddenchecks">{% trans "Show Checks" %}</div>
      <div class="item-description" id="shownchecks" style="display:none;">{% trans "Hide Checks" %}
      <div>FIXME: Checks go here!
      </div>
      </div>

      <div class="item-statistics">
        {{ languagestats }} FIXME
      </div>
    </div>

{% for item in items %}
{% itemnode edit %}
{% endfor %}
{% endblock %}
