{% extends "base.html" %}
{% load i18n %}

{% block head %}
<script src="{{ baseurl }}static/js/autoexpand.js" type="text/javascript" />
{% endblock %}

{% block content %}

<div class="navbar" style="margin:0; padding:0; " >
  <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
  <h3 class="title">[ <a href="/{{ project.language.code }}/">{{ project.language.name }}</a> ] [ <a href="/projects/{{ project.project.code }}/">{{ project.project.name }}</a> ]</h3>
  <div class="item-description" id="actionlinks">
  </div>
  <div id="tab1">
    <ul id="tabnav">
      <li class="tab1"><a href="#">{% trans "Overview" %}</a></li>
      <li class="tab2"><a href="#">{% trans "Translate" %}</a></li>
      <li class="tab3"><a href="#">{% trans "Review" %}</a></li>
    </ul>
  </div>
  <div class="tabcontents">
{% block file %}
{% endblock %}
  </div>
</div>

{% endblock %}
