{% extends "base.html" %}
{% load i18n %}

{% block title %}Pootle - Home{% endblock %}

{% block content %}
    <div class="contents"><h3 class="title">{% trans "Quick Links" %}</h3>

{% for lang in user.language_list %}
    <h3 class="title"><a href="../{{ lang.code }}/">{{ lang.name }}</a></h3>
    <div class="item-description">
{% for project in user.project_list %}
          <a href="../{{ lang.code }}/{{ project.code }}/">{{ project.name }}</a>
          (<a href="../{{ lang.code }}/{{ project.code }}/admin.html/">{% trans "Admin" %}</a>)
{% endfor %}

    </div>
{% endfor %}
    
    <div class="intro">
      <a href="options/">{% trans "Change options" %}</a>
    </div>

{% if user.is_superuser %}
    <div class="intro">
      <a href="../admin/">{% trans "Admin page" %}</a>
    </div>
{% endif %}
{% endblock %}
