{% extends "base.html" %}
{% load i18n %}

{% block title %}Pootle - Home{% endblock %}

{% block content %}
    <div class="contents"><h3 class="title">{% trans "Quick Links" %}</h3>
{% if quicklinks %}
{% for language in quicklinks %}
        <h3 class="title">
          <a href="../{{ language.code }}/">{{ language.name }}</a>
        </h3>
{% if language.projects %}      
        <div class="item-description">
{% for project in langugage.projects %}
          <a href="../{{ language.code }}/{{ project.code }}/">{{ project.name }}</a>
{% if project.isprojectadmin %}
          (<a href="../{{ language.code }}/{{ project.code }}/admin.html/">{% trans "Admin" %}</a>)
{% endif %}
{% endfor %}
        </div>
{% endif %}
{% endfor %}
      </div>
{% else %}
      <div py:if="not quicklinks" class="item-description">
        {% trans "Please click on 'Change options' and select some languages and projects" %}
      </div>
{% endif %}
    </div>
    
    <div class="intro">
      <a href="options.html">{% trans "Change options" %}</a>
    </div>

{% if user.is_superuser %}
    <div class="intro">
      <a href="../admin/">{% trans "Admin page" %}</a>
    </div>
{% endif %}
{% endblock %}
