{% load i18n %}
{% extends "base.html" %}

{% block content %}
    <div class="contents">
      <h3 class="title">{{ pagetitle }}</h3>

      <div class="intro">
        {{ description }}
      </div>
{% if languages %}
      <h3 class="title"><a href="languages/">{% trans "Languages" %}</a></h3>

      <div class="item-description">
        {% for l in languages %}
        <a href="/{{ l.code }}/">{{ l.name }}</a>
        {% endfor %}
      </div>
      <br />
{% endif %}
{% if projects %}
      <h3 class="title"><a href="projects/">{% trans "Projects" %}</a></h3>

      <div class="item-description">
        {% for p in projects %}
          <a href="/projects/{{ p.code }}/" title="{{ p.description }}">{{ p.name }}</a>
        {% endfor %}
      </div>
    </div>
{% endif %}
{% endblock %}
