{% extends "base.html" %}
{% load i18n %}
{% load pootle %}

{% block head %}
  <script type="text/javascript" src="/static/js/sorttable.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/language.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <h3 class="title">[ <a href="/{{ language.code }}/">{{ language.name }}</a> ]</h3>
      <div class="item-statistics">
        {{ stats }}
      </div>
    </div>

    <div class="intro">
      <b>{% trans "Language Code" %}</b>: {{ language.code }}<br />
      <b>{% trans "Language Name" %}</b>: {{ language.name }}<br />
      <b>{% trans "Number of Plurals" %}</b>: {{ language.nplurals }}<br />
      <b>{% trans "Plural Equation" %}</b>: {{ language.plural_equation }}
    </div>

{% if projects %}
      <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="stats">{% trans "Name" %}</th>
            <th class="stats">{% trans "Translated" %}</th>
            <th class="stats" title="{% trans "Translated percentage" %}">%</th>
            <th class="stats">{% trans "Fuzzy" %}</th>
            <th class="stats" title="{% trans "Fuzzy percentage" %}">%</th>
            <th class="stats">{% trans "Untranslated" %}</th>
            <th class="stats" title="{% trans "Untranslated percentage" %}">%</th>
            <th class="stats">{% trans "Total" %}</th>
            <th class="stats">{% trans "Graph" %}</th>
        </tr>
      </thead>
      <tbody class="stats">
{% for item in projects %}
          <tr class="item item-{% cycle even,odd %}" title="{{ item.description }}">
            <td class="stats-name">
              <img src="/static/images/{{ item.project.icon }}.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <a href="/{{ language.code }}/{{ item.project.code }}/browse/" lang="en" dir="ltr">{{ item.project.name }}</a>
    </td>
{# data:   0,  1, 2 translated words, string, percentage    #}
{#         3,  4, 5 fuzzy words, string, percentage         #}
{#         6,  7, 8 untranslated words, string, percentage  #}
{#         9, 10    all words, string                       #}
      <td class="stats">{{ item.stats.1 }}</td><td class="stats">{{ item.stats.2 }}%</td>
      <td class="stats">{{ item.stats.4 }}</td><td class="stats">{{ item.stats.5 }}%</td>
      <td class="stats">{{ item.stats.7 }}</td><td class="stats">{{ item.stats.8 }}%</td>
      <td class="stats">{{ item.stats.10 }}</td>
      <td class="stats-graph">
        <span class="sortkey">{{ item.stats.2 }}</span>
<img src="/static/images/green.png" class="data" height="20" width="{{ item.stats.2 }}" /><img src="/static/images/blue.png" class="data" height="20" width="{{ item.stats.5 }}" /><img src="/static/images/red.png" class="data" height="20" width="{{ item.stats.8 }}" />
      </td>
          </tr>
{% endfor %}
      </tbody>
    </table>
{% else %}
<p>{% trans "No projects are being translated to this language." %}</p>
{% endif %}
{% endblock %}
