{% extends "base.html" %}
{% load i18n %}
{% load pootle %}

{% block head %}
  <script type="text/javascript" src="/static/js/sorttable.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/language.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <h3 class="title">[ <a href="/{{ languagecode }}/">{{ languagename }}</a> ]</h3>
      <div class="item-statistics">
        {{ languagestats }}
      </div>
    </div>

    <div class="intro">
{% for i in languageinfo %}
      <b>{{ i.title }}</b>: {{ i.value }}<br/>
{% endfor %}
    </div>

      <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="stats">{% trans "Name" %}</th>
            <th class="stats">{% trans "Translated" %}</th>
            <th class="stats" title="{% trans "Translated percentage" %}">%</th>
            <th class="stats">{% trans "Fuzzy" %}</th>
            <th class="stats" title="{% trans "Fuzzy percentage" %}">%</th>
            <th class="stats">{% trans "Untranslated" %}</th>
            <th class="stats" title="{% trans "Untranslated percentage" %}">%</th>
            <th class="stats">{% trans "Total" %}</th>
            <th class="stats">{% trans "Graph" %}</th>
        </tr>
      </thead>
      <tbody class="stats">
{% for item in projects %}
          <tr class="item item-{{ item.parity }}" title="{{ item.description }}">
            {% itemnode stats %}
          </tr>
{% endfor %}
      </tbody>
    </table>
{% endblock %}
