{% extends "base.html" %}
{% load i18n %}

{% block title %}Pootle - Login{% endblock %}

{% block content %}
    <div class="intro">
      {{ introtext }}
    </div>
      <form action="" method="post" name="loginform" id="loginform">
        <table cellpadding="1" cellspacing="1">
          <tr>
            <td colspan="1" rowspan="1">{% trans "Username:" %}</td>

            <td colspan="1" rowspan="1">{{ form.username }}</td>
          </tr>

          <tr>
            <td colspan="1" rowspan="1">{% trans "Password:" %}</td>

            <td colspan="1" rowspan="1">{{ form.password }}</td>
          </tr>

          <tr>
            <td colspan="1" rowspan="1">{% trans "Language:" %}</td>

            <td colspan="1" rowspan="1">
              <select name="language">
                {% for l in languages %}<option {% ifequal l.0 LANGUAGE_CODE %}selected="true" {% endifequal %}value="{{ l.0 }}">{{ l.1 }}</option>{% endfor %}
              </select>
            </td>
          </tr>
        </table>
        <input type="submit" name="Login" value="{% trans "Log in" %}" />
        <input type="hidden" name="islogin" value="true" />
      </form>
    </div>
{% endblock %}

