<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Pootle Navigation Bar</title>
</head>
<body>
  <img id="icon" py:if="type" src="/images/${iconname}.png" class="icon"/>
  <div id="actionlinks" class="item-description" py:if="item.actions">
    <a py:for="link in item.actions.basic" href="${link.href}" title="${link.title}">${link.text}${link.sep}</a>
    <form py:if="item.actions.goalform" py:content="XML(item.actions.goalform)"/>
    <a py:for="link in item.actions.extended" href="${link.href}" title="${link.title}">${link.text}${link.sep}</a>
  </div>
  <div id="itemstats" class="item-statistics">
    <span py:replace="XML(item.stats.summary)">
      2/2 words (100%) translated <span class="string-statistics">[2/2 strings]</span>
    </span>
    <span py:for="check in item.stats.checks" py:strip="True">
      <br/>
      <a href="${check.href}" py:content="check.text">checkname</a>
      <span py:content="check.stats" py:strip="True">3 strings (20%) failed</span>
    </span>
    <span py:for="track in item.stats.tracks" py:strip="True"><br/>${track}</span>
    <span py:for="astats in item.stats.assigns" py:strip="True">
    <br/><a href="${astats.assign.href}">${astats.assign.text}</a>: ${astats.stats}
      <span cls='string-statistics'>${astats.stringstats}</span> -
      ${astats.completestats} <span cls='string-statistics'>${astats.completestringstats}</span>
      <a py:if="astats.remove" href="${astats.remove.href}">${astats.remove.text}</a>
    </span>
  </div>
</body>
</html>

