    <td class="stats-name">
      <img src="/static/images/{{ item.icon }}.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <a href="{{ item.code }}" lang="en" dir="ltr">{{ item.name }}</a>
    </td>
{% if item.data %}
      <td class="stats">{{ item.data.translatedwords }}</td><td class="stats">{{ item.data.translatedpercentage }}%</td>
      <td class="stats">{{ item.data.fuzzywords }}</td><td class="stats">{{ item.data.fuzzypercentage }}%</td>
      <td class="stats">{{ item.data.untranslatedwords }}</td><td class="stats">{{ item.data.untranslatedpercentage }}%</td>
      <td class="stats">{{ item.data.totalwords }}</td>
      <td class="stats-graph">
        <span class="sortkey">{{ item.data.translatedpercentage }}</span>
        <table border="0" cellpadding="0" cellspacing="0"><tr>
<!--!        <td bgcolor="green"><img src="/static/images/green.png" class="data" bgcolor="green" height="20" width="${item.data.translatedpercentage}" /></td>-->
<!--!        <td bgcolor="grey"><img src="/static/images/grey.png" class="data" height="20" width="${item.data.fuzzypercentage}" /></td>-->
<!--!        <td bgcolor="red"><img src="/static/images/red.png" class="data" height="20" width="${item.data.untranslatedpercentage}" /></td>-->
            <td bgcolor="green" class="data" height="20" width="{{ item.data.translatedpercentage }}" />
{% if item.data.fuzzypercentage %}<td bgcolor="lightgray" class="data" height="20" width="{{ item.data.fuzzypercentage }}" />{% endif %}
{% if item.data.untranslatedpercentage %}<td bgcolor="red" class="data" height="20" width="{{ item.data.untranslatedpercentage }}" />{% endif %}
        </tr></table>
          
        <!--! The following is simpler, but kid reformats the img tags which inserts spaces between them -->

<!--!        <img src="/static/images/green.png" class="data" height="20" width="${item.data.translatedpercentage}" background="green" /><img src="/static/images/grey.png" class="data" height="20" width="${item.data.fuzzypercentage}" background="grey" /><img src="/static/images/red.png" class="data" height="20" width="${item.data.untranslatedpercentage}" background="red" />-->
      </td>      
{% endif %}
