{% extends "base.html" %}
{% load i18n %}
{% load pootle %}

{% block title %}Pootle{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/sorttable.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />

      <h3 class="title">[ <a href="/projects/{{ project.code }}/">{{ project.name }}</a> ]</h3>
{% if user.is_superuser %}
      <div class="item-description">
        <a href="admin.html">{% trans "Admin" %}</a>
      </div>
{% endif %}

      <div class="item-statistics">
        {{ stats }}
      </div>
    </div>

    <div class="intro">
      {{ project.description }}
    </div>

{% if starttranslating %}
<div class="starttranslating">
<p>{% trans "You can start translating this project to:" %}<ul>{% for lang in starttranslating %}<li><a href="start/{{ lang.code }}/">{{ lang }}</a></li>{% endfor %}</ul></p>
</div>
{% endif %}

{% if languages %}
      <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="stats">{% trans "Language" %}</th>
            <th class="stats">{% trans "Translated" %}</th>
	        <th class="stats" title="{% trans "Translated percentage" %}">%</th>
            <th class="stats">{% trans "Fuzzy" %}</th>
            <th class="stats" title="{% trans "Fuzzy percentage" %}">%</th>
            <th class="stats">{% trans "Untranslated" %}</th>
            <th class="stats" title="{% trans "Untranslated percentage" %}">%</th>
            <th class="stats">{% trans "Total" %}</th>
            <th class="stats">{% trans "Graph" %}</th>
        </tr>
      </thead>
      <tbody class="stats">
{% for item in languages %}
          <tr  class="item item-{% cycle even,odd %}">
            <td class="stats-name">
      <img src="/static/images/{{ item.language.icon }}.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <a href="/{{ item.language.code }}/{{ project.code }}/browse/" lang="en" dir="ltr">{{ item.language.name }}</a>
    </td>
      <td class="stats">{{ item.stats.0 }}</td><td class="stats">{{ item.stats.2 }}%</td>
      <td class="stats">{{ item.stats.3 }}</td><td class="stats">{{ item.stats.5 }}%</td>
      <td class="stats">{{ item.stats.6 }}</td><td class="stats">{{ item.stats.8 }}%</td>
      <td class="stats">{{ item.stats.9 }}</td>
      <td class="stats-graph">
        <span class="sortkey">{{ item.stats.2 }}</span>
<img src="/static/images/green.png" class="data" height="20" width="{{ item.stats.2 }}" /><img src="/static/images/blue.png" class="data" height="20" width="{{ item.stats.5 }}" /><img src="/static/images/red.png" class="data" height="20" width="{{ item.stats.8 }}" />
      </td>
          </tr>
{% endfor %}
      </tbody>
    </table>
{% else %}
<p>{% trans "This project is not being translated to any language." %}</p>
{% endif %}
{% endblock %}
