{% extends "base.html" %}
{% load i18n %}
{% load pootle %}

{% block title %}Pootle{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/sorttable.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />

      <h3 class="title">[ <a href="/projects/{{ project.code }}/">{{ project.name }}</a> ]</h3>
{% if user.is_superuser %}
      <div class="item-description">
        <a href="admin.html">{% trans "Admin" %}</a>
      </div>
{% endif %}

      <div class="item-statistics">
        {{ project.stats }} FIXME
      </div>
    </div>

    <div class="intro">
      {{ project.description }}
    </div>

      <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="stats">{% trans "Language" %}</th>
            <th class="stats">{% trans "Translated" %}</th>
	        <th class="stats" title="{% trans "Translated percentage" %}">%</th>
            <th class="stats">{% trans "Fuzzy" %}</th>
            <th class="stats" title="{% trans "Fuzzy percentage" %}">%</th>
            <th class="stats">{% trans "Untranslated" %}</th>
            <th class="stats" title="{% trans "Untranslated percentage" %}">%</th>
            <th class="stats">{% trans "Total" %}</th>
            <th class="stats">{% trans "Graph" %}</th>
        </tr>
      </thead>
      <tbody class="stats">
{% for item in languages %}
          <tr  class="item item-{% cycle even,odd %}">
            {% itemnode stats %}
          </tr>
{% endfor %}
      </tbody>
    </table>
{% endblock %}
