{% load i18n %}
{% load pootle %}
{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ baseurl }}static/js/sorttable.js"></script>
  <script type="text/javascript" src="{{ baseurl }}static/js/show-hide.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <h3 class="title">[ <a href="/{{ project.language.code }}/">{{ project.language.name }}</a> ] [ <a href="/projects/{{ project.project.code }}/">{{ project.project.name }}</a> ]</h3>
      <div class="item-description" id="actionlinks">

      </div>
        
      <div class="item-description" id="hiddenchecks">{% trans "Show Checks" %}</div>
      <div class="item-description" id="shownchecks" style="display:none;">{% trans "Hide Checks" %}
      <div>FIXME: Checks go here!
      </div>
      </div>

      <div class="item-statistics">
        {{ languagestats }} FIXME
      </div>
    </div>

<table class="sortable stats" width="100%">
{% for item in items %}
<tr><td>
<img src="/static/images/{{ item.icon }}.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" /></td><td>
<b><a href="{{ item.basename }}">{{ item.basename }}</a></b>
{% if item.isfile %}
<br />{% trans "Download:" %}&nbsp;<a href="{{ item.basename }}">PO</a>&nbsp;<a href="{{ item.basename }}">.ts</a>&nbsp;<a href="{{ item.basename }}">XLIFF</a>&nbsp;<a href="{{ item.basename }}">CSV</a>
{% endif %}
</td><td>
&nbsp;
</td><td align="right">
{{ item.stats.1 }}t, 
{{ item.stats.4 }}f,
{{ item.stats.7 }}u of 
{{ item.stats.10 }} total
<br />
<span class="sortkey">{{ item.stats.2 }}</span>
<img src="/static/images/green.png" class="data" height="20" width="{{ item.stats.2 }}" alt="{{ item.stats.2 }}%" /><img src="/static/images/blue.png" class="data" height="20" width="{{ item.stats.5 }}" alt="{{ item.stats.5 }}%" /><img src="/static/images/red.png" class="data" height="20" width="{{ item.stats.8 }}" alt="{{ item.stats.8 }}%" />
</td></tr>
{% endfor %}
</table>
{% endblock %}
