{% load i18n %}
{% load pootle %}
{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ baseurl }}/static/js/sorttable.js"></script>
  <script type="text/javascript" src="{{ baseurl }}/static/js/show-hide.js"></script>
{% endblock %}

{% block content %}
    <div class="navbar">
      <img src="/static/images/folder.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" />
      <h3 class="title">[ <a href="/{{ project.language.code }}/">{{ project.language.name }}</a> ] [ <a href="/projects/{{ project.project.code }}/">{{ project.project.name }}</a> ]</h3>
      <div class="item-description" id="actionlinks">

      </div>
        
      <div class="item-statistics">
        {{ stats }}
      </div>
    </div>

<table class="sortable stats" width="100%">
{% for item in items %}
<tr><td>
<img src="/static/images/{{ item.type }}.png" class="icon" alt="" dir="{{ uidir }}" lang="{{ uilanguage }}" /></td><td>
<b><a href="{{ project.dir }}{% ifequal item.type "folder" %}browse{% else %}translate{% endifequal %}/{{ curdir }}{{ item.name }}">{{ item.name }}</a></b>
{% ifequal item.type "file" %}
<br />{% trans "Download:" %}&nbsp;<a href="{{ project.dir }}download/{{ curdir}}{{ item.name }}">PO</a>&nbsp;<a href="{{ project.dir }}download/{{ curdir }}{{ item.name }}?format=ts">.ts</a>&nbsp;<a href="{{ project.dir }}download/{{ curdir }}{{ item.name }}?format=xliff">XLIFF</a>&nbsp;<a href="{{ project.dir }}download/{{ curdir }}{{ item.name }}?format=csv">CSV</a>
{% endifequal %}
</td><td>
&nbsp;
</td><td align="right">
{{ item.translatedstrings }}t, 
{{ item.fuzzystrings }}f,
{{ item.untranslatedstrings }}u of 
{{ item.allstrings }} total
<br />
<span class="sortkey">{{ item.translatedperc }}</span>
{% if item.translatedperc %}<img src="/static/images/green.png" class="data" height="20" width="{{ item.translatedperc }}" alt="{{ item.translatedperc }}%" />{% endif %}{% if item.fuzzyperc %}<img src="/static/images/blue.png" class="data" height="20" width="{{ item.fuzzyperc }}" alt="{{ item.fuzzyperc }}%" />{% endif %}{% if item.untranslatedperc %}<img src="/static/images/red.png" class="data" height="20" width="{{ item.untranslatedperc }}" alt="{{ item.untranslatedperc }}%" />{% endif %}
</td></tr>
{% endfor %}
</table>
{% endblock %}
